.App {
  text-align: center;
  background-image: url('./ui/carrot-bg.jpg');
  max-width: 100%;
  height: auto;
  background-size: cover;
}

.App-header, .search {
  min-height: 50px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.complete-meal, .international {
  margin: 30px;
  min-height: 90px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: black;
}
